.end-btn-cntl {
  width: 100vw;
}

.end-btn-cntl button {
  bottom: 0;
  padding: 1rem;
  position: fixed;
  width: 100%;
}

.title-cntl {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0.5rem;
}

.title-cntl:first-child {
  display: flex;
  flex-flow: column;
}

@media screen and (min-width: 1024px) {
  .end-btn-cntl {
    width: 30vw;
  }

  .end-btn-cntl button {
    bottom: 0.8rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 30%;
  }
}
